{% extends "layout.html" %}
{% block content %}
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Grafica</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h1>Caso de estudio: Distribucion de precios y modelos del parque automotor</h1>
            <h2>Fuente: web <a href="https://www.autocosmos.com.ar" target="_blank">Autocosmos</a></h2>
        </div>
    </div>
    <div>
    aqui va lo nuevo...
    </div>

    <br>
    <center>
        <blockquote>
            <p>Proyecto Integrador CDIA - Grupo H1006 </p>
            <footer>
                <cite>Arriola, Gabriel</cite><br>
                <cite>Candia, Tatiana Gisel</cite><br>
                <cite>Cid Bodo, Maria Teresa</cite><br>
                <cite>Clavijo, Juan Marcelo</cite><br>
                <cite>Quinteros, Nadia Marcela</cite><br>
                <cite>Quispe, Carlos Walter Martin</cite><br>
            </footer>
        </blockquote>
    </center>



{% endblock %}
